.head {
    font-weight: bold;
    padding-bottom: 50px;
}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}
  
.card h5 {
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 240px;
    padding-top: 30px;
    padding-bottom: 30px;
}
  
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .head {
        padding-bottom: 20px;
    }
}