.galleryContainer {
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .buttonsContainer {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .categoryButton {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .categoryButtonActive, .categoryButton:hover {
    background-color: #ccc;
  }
  
  .imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imageCard {
    margin: 10px;
    position: relative;
  }

  .imageCard p {
    font-size: 20px;
  }

  .name {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
/* HoverImage.module.css */

.imageContainer {
  position: relative;
  display: inline-block;
}

.imageContainer img {
  display: block;
  cursor: pointer;
}

.borderTop,
.borderBottom {
  position: absolute;
  height: 4px;
  background-color: #7FAD39;
  transition: width 0.5s ease;
}

.borderTop {
  top: 0;
  left: 100%;
  width: 0;
  transition: width 0.5s ease, left 0.5s ease;
}

.borderBottom {
  bottom: 0;
  right: 100%;
  width: 0;
  transition: width 0.5s ease, right 0.5s ease;
}

.imageContainer:hover .borderTop {
  width: 100%;
  left: 0;
}

.imageContainer:hover .borderBottom {
  width: 100%;
  right: 0;
}


  
  @media (max-width: 768px) {
    .imageCard {
      flex: 1 1 calc(50% - 20px); /* Adjusts for 2 images horizontally on smaller screens */
    }
    .imageCard img {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .categoryButton {
      padding: 5px 10px;
    }
  
    .imageCard {
      flex: 1 1 calc(100% - 20px); /* Adjusts for 1 image horizontally on smallest screens */
    }
  }
  