/* src/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-around;
    gap: 330px;
    margin-bottom: 30px;
    margin-top: 20px;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
}

.navbar-item {
    color: #555;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
    text-transform: uppercase;
}

.navbar-item:hover {
    color: #7FAD39;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .navbar-menu.open {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}
